<div class="container">
    <label>CampaignName</label><input class="form-control" ng-model="newObj.CampaignName" type="text" />
    <label>Clicks</label><input class="form-control" ng-model="newObj.Clicks" type="number" />
    <label>Conversions</label><input class="form-control" ng-model="newObj.Conversions" type="number" />
    <label>Impressions</label><input class="form-control" ng-model="newObj.Impressions" type="number" />
    <label>AffiliateName</label><input class="form-control" ng-model="newObj.AffiliateName" type="text" />
    <br />
    <input type="button" class="btn btn-primary btn - lg" value="Add" ng-click="vw.Add(newObj)">
</div>