<div class="container">
    <label>CampaignName</label><input class="form-control" ng-model="vm.newObj.CampaignName" type="text" />
    <label>Clicks</label><input class="form-control" ng-model="vm.newObj.Clicks"  type="number" />
    <label>Conversions</label><input class="form-control" ng-model="vm.newObj.Conversions"  type="number" />
    <label>Impressions</label><input class="form-control" ng-model="vm.newObj.Impressions"   type="number" />
    <label>AffiliateName</label><input class="form-control" ng-model="vm.newObj.AffiliateName"  type="text" />
    <br />
    <input type="button" class="btn btn-primary btn - lg" value="Update" ng-click="vm.Update(vm.newObj)">
</div>